input {
    border: 1px solid #ffffff20;
    border-radius: 5px;
    background: #2F3341;
    height: 50px;
    padding-inline: 20px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff60
}

label {
    color: #ffffff;
    padding-top: 15px;
}
